@page "/Persons"
@page "/Persons/List"
@using Blazored.LocalStorage
@using Microsoft.AspNetCore.SignalR.Client
@inject HttpClient Http
@inject IConfiguration Config
@inject ILocalStorageService localStorageService
@inject NavigationManager NavigationManager


@if(persons == null)
{
    <p>None!</p>
}
else
{
    <tr id="addRow">
                <td></td>
                <td>
                    <input @bind="newItemNumber" placeholder="New Number" />
                </td>
                <td>
                    <input @bind="newItemFirstName" placeholder="New FirstName" />
                </td>
                <td class="text-center">
                    <button class="btn btn-success" @onclick="AddPerson">Add</button>
                </td>
            </tr>
    <table class="table">

        <thead>
            <tr>
                <th class="text-center">
                    <label>ID</label>
                </th>
                <th class="text-center">
                    <label>Nubmer</label>
                </th
                <th class="text-center">
                    <label>FirstName</label>
                </th>
            </tr>
        </thead>
        <tbody>
            <tr id="editRow" style="display:@editRowStyle">
                <td class="text-center">
                    <input @bind="person.Number" />
                </td>
                <td class="text-center">
                    <input @bind="person.FirstName" />
                </td>
                <td class="text-center">
                    <button class="btn btn-success" @onclick="SaveItem">
                        Save
                    </button>
                    <button class="btn btn-danger" @onclick="CancelChange">
                        Cancel
                    </button>
                </td>
            </tr>
            @foreach(var item in persons)
            {
                <tr>
                    <td>@item.Id</td>
                    <td>@item.Number</td>
                    <td>@item.FirstName</td>
                    <td class="text-center">
                        <button class="btn btn-warning" @onclick="@(()=> EditPerson(item.Id))">
                            Edit
                        </button>
                        <button class="btn btn-warning" @onclick="@(async ()=> await DeletePerson(item.Id))">
                            Delete
                        </button>
                    </td>
                </tr>
            }
         </tbody>
     </table>
}


@code {
    private Person[]? persons;
    private Person person = new();
    private string editRowStyle = "none";
    private string? newItemNumber;
    private string? newItemFirstName;
    private string? serviceRequest;

    protected override async Task OnInitializedAsync()
    {
        HubConnection hubConnection = new HubConnectionBuilder()
        //.WithUrl(Navigation.ToAbsoluteUri("/chathub"))
        .WithUrl("https://localhost:7286/chathub", options =>
        {
            options.AccessTokenProvider = async () =>
            {
                string token = await localStorageService.GetItemAsStringAsync("auth")!;
                return token;
            };
        })
        .Build();
        ////持有者令牌身份验证，参阅：https://learn.microsoft.com/zh-cn/aspnet/core/security/cors?view=aspnetcore-8.0

        hubConnection.On<string>("NoteMessage", async notemsg => 
        {
            //Console.WriteLine(user);
            //Console.WriteLine(notemsg);
            //await GetPersons();
            if(notemsg=="Update")
            {
            await GetPersons();
            }
            await InvokeAsync(StateHasChanged);
        });
        await hubConnection.StartAsync();

        serviceRequest = $"{Config.GetValue<string>("BackendUrl")}/Person";
        await GetPersons();
    }

    private async Task GetPersons()
    {
        string token = await localStorageService.GetItemAsStringAsync("auth")!;
        var requestUri = $"{serviceRequest}/GetPersons";
        Http.DefaultRequestHeaders.Authorization = new System.Net.Http.Headers.AuthenticationHeaderValue("Bearer", token);
        persons = await Http.GetFromJsonAsync<Person[]>(requestUri);

    }

    private async Task AddPerson()
    {
        string token = await localStorageService.GetItemAsStringAsync("auth")!;
        Http.DefaultRequestHeaders.Authorization = new System.Net.Http.Headers.AuthenticationHeaderValue("Bearer", token);
        if(!string.IsNullOrEmpty(newItemNumber) && !string.IsNullOrEmpty(newItemFirstName))
        {
            var addPerson = new Person { Number = newItemNumber, FirstName = newItemFirstName };
            await Http.PostAsJsonAsync($"{serviceRequest}/AddPerson", addPerson);
            newItemNumber = string.Empty;
            newItemFirstName = string.Empty;
            StateHasChanged();
            await GetPersons();
            editRowStyle = "none";
        }
    }

    private async Task EditPerson(long id)
    {
        string token = await localStorageService.GetItemAsStringAsync("auth")!;
        Http.DefaultRequestHeaders.Authorization = new System.Net.Http.Headers.AuthenticationHeaderValue("Bearer", token);
        if(persons is not null )
        {
            person = persons.Single(i => i.Id == id);
            editRowStyle = "table-row";
        }
    }
    private async Task SaveItem()
    {
        
        if(person is not null)
        {
            await Http.PutAsJsonAsync($"{serviceRequest}/EditPerson?id={person.Id}", person);
        }
        await GetPersons();
        StateHasChanged();
        editRowStyle = "none";
    }
        private async Task CancelChange()
    {
        await GetPersons();
        editRowStyle = "none";
    }
    private async Task DeletePerson(long id)
    {
        string token = await localStorageService.GetItemAsStringAsync("auth")!;
        Http.DefaultRequestHeaders.Authorization = new System.Net.Http.Headers.AuthenticationHeaderValue("Bearer", token);
        await Http.DeleteAsync($"{serviceRequest}/DeletePerson?id="+ Convert.ToInt32(id));
        await GetPersons();
        StateHasChanged();
        editRowStyle = "none";
    }

    public class Person
    {
        public long Id { get; set; }
        public string Number { get; set; }
        public string FirstName { get; set; }

    }
}
